/* CSS only for examples not required for centering */
body {
  text-align: center;
  color: rgb(131, 131, 131);
  transition: all 1s ease-out;
  max-height: 100vh;
}
.emoji-d {
  font-size: 800%;
  color: rgb(255, 195, 83);
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.2);
  }
  100% {
    transform: rotate(359deg) scale(1);
  }
}
.emoji-n {
  font-size: 800%;
  color: rgb(40, 33, 44);
  animation: bubble 10s infinite linear;
}
@keyframes bubble {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.8);
  }
  50% {
    color: rgb(57, 54, 87);
    transform: scaleX(1.1);
  }
  75% {
    transform: scaleX(0.8);
  }
  100% {
  }
}
.temp {
  font-size: 500%;
  color: rgb(35, 16, 46);
  font-family: auto;
  font-family: "Jura", sans-serif;
}
.tempvar {
  text-align: center;
  font-size: 130%;
}
.stats > div > span {
  color: rgb(100, 100, 100);
}
form > span {
  color: red;
}
.stats > div {
  font-size: 150%;
  text-align: left;
}

.city-field {
  border-bottom: solid black;
  font-size: 140%;
  transition: ease-in-out 1s;
  border-width: 0px;
  color: cadetblue;
}
.city-field:hover {
  border-width: 1px;
}
.forecast {
  text-align: center;
}
.forecast-temp {
  font-size: 110%;
}
form {
  display: inline;
}
.submit {
  display: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  position: absolute;
  opacity: 0;
}
.hidden-box {
  display: none;
}
.arrow {
  border: none;
  outline: none;
  background: transparent;
}
span {
  outline: none;
  color: rgb(95, 95, 95);
}
.logo {
  padding: rem;
}
.logo-bg {
  background-color: rgb(233, 233, 233);
}
footer {
  background-color: rgb(235, 235, 235);
  width: 100%;
  border-top: solid 1px rgb(155, 155, 155);
  color: rgb(36, 0, 0);
}
.vh {
  height: 100vh;
}
footer > div {
  padding: 1rem;
}

.theme {
  font-size: 150%;
  color: rgb(104, 104, 104);
}
.fa-toggle-on {
  color: white;
}
.link > a {
  text-decoration: none;
  border: none;
  color: red;
}
@media only screen and (max-width: 600px) {
  .emoji-d,
  .emoji-n {
    font-size: 500%;
  }
  .city-field {
    font-size: 120%;
  }
  .main-row {
    flex-direction: column;
  }
  .vh {
    height: auto;
  }
  .ejs-row {
    max-width: 100vw;
    overflow-x: scroll;
  }
  .stats > div {
    text-align: center;
  }
}
